<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daily Organization</title>
</head>

<body>
  <div id="app"></div>
  <script src="/bundle.js"></script>
</body>